.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .checkboxInput {
    margin-right: 10px;
  }
  